<center>
    <h1> {{ title }} </h1>
    <p style=" font-size: 25px; color :brown"> Write && Read</p>
</center>
<div id="helloWorldPage">

    <!-- form start-->
    <form id="readform">
        <div id="divform">
            <center><label
                    style="color: blue;text-align:center; font-family:'Open Sans', sans-serif;font-weight: normal; font-size: 45px;">Hyperledger
                    Sawtooth</label>
                <br /> <br /> <br />
                <input type="text" class="form-control" id="textInput" placeholder=" Hello">
                <br /> <br />
                <button type="submit" style="color:red; align:center;" class="btn btn-lg" onclick="writemsg(event)">
                    Write</button>
                <button type="submit" style="color: green;  align:center;" class="btn btn-lg" onclick="readmsg(event)">
                    Read</button>
                <br><br><br>
                <img src="/images/logo.png">

            </center>
        </div>
    </form>
    <!-- form end-->
</div>